/* NAVBAR CSS */
.left__nav__div img {
  width: 150px;
}
.right__nav__div {
  width: auto;
  justify-content: flex-end;
}
.right__nav__div button {
  margin: 5px;
}
/* HOMEPAGE CSS */
.right__main__home__div img {
  width: 80%;
}
.left__main__home__div {
  align-items: flex-start;
}
.left__main__home__div > div {
  justify-content: flex-start;
}
.left__main__home__div button {
  margin-top: 20%;
  margin-right: 10px;
}
.left__main__home__div > h1 {
  font-size: 6rem;
  font-weight: bold;
  line-height: 110%;
}
.left__main__home__div > h2 {
  background: -webkit-linear-gradient(#ef476f, #073b4c);
  font-size: 3rem;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.left__main__home__div span {
  -webkit-text-stroke: 2px #06d6a0;
  -webkit-text-fill-color: transparent;
}
.homepage__master {
  background: #fff center no-repeat;
  background-size: cover;
  background-attachment: fixed;
  min-height: 100vh;
}
/* SECTION CSS */
.section {
  background: rgb(35, 35, 35);
}
#question__heading {
  color: #fff;
  font-size: 3.5rem;
}
#question__heading > span {
  background: -webkit-linear-gradient(#06d6a0, #073b4c);
  font-size: 5rem;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.question > div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
.question > div > img,
.question > div > div {
  width: 45%;
  padding: 2.5%;
}
.languages {
  width: 100%;
  justify-content: space-around;
  padding-bottom: 10%;
}
.languages > img {
  width: 40%;
}
.languages > h1 {
  font-size: 3rem;
  line-height: 125%;
  width: 40%;
  color: #fff;
}
.languages > h1 > span {
  background: -webkit-linear-gradient(#073b4c, #06d6a0);
  font-size: 3rem;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.cards__heading {
  -webkit-text-stroke: 1px #fff !important;
  -webkit-text-fill-color: transparent;
  font-size: 3rem !important;
  margin-top: 50px;
}
.section p {
  margin-top: 10%;
  font-size: 18px;
  color: white;
  text-align: justify;
}
.info__card {
  width: 300px;
  height: 200px;
  background: rgb(25, 25, 25);
  padding: 20px;
  justify-content: space-around;
  border-radius: 20px;
  transition: all 0.3s ease;
  margin: 20px;
}
.brand__logo {
  width: 100px !important;
  filter: grayscale(1);
}
.info__card p {
  text-align: center;
  font-size: 13px;
}
.info__card a {
  color: rgb(182, 182, 182);
  font-size: 12px;
}
.info__card:hover {
  background: #fff;
  color: rgb(35, 35, 35);
}
.info__card:hover .brand__logo {
  filter: grayscale(0);
}
.info__card:hover .brand__info {
  color: rgb(35, 35, 35);
}
@media only screen and (max-width: 1146px) {
  .info__section__cards {
    display: grid;
    grid-template-columns: repeat(2, 0fr);
  }
  .left__main__home__div > h1 {
    font-size: 3rem;
  }
  .languages > h1 {
    font-size: 2rem;
    line-height: normal;
  }
  #question__heading {
    font-size: 2rem;
  }
  #question__heading > span {
    font-size: 3.5rem;
  }
  #underline {
    width: 300px !important;
  }
  .home__div__main {
    height: 100vh;
  }
}
@media only screen and (max-width: 768px) {
  .right__main__home__div {
    display: none;
  }
  .left__main__home__div {
    width: 100%;
  }
  .left__main__home__div > h1 {
    font-size: 5rem;
  }
  .question__div {
    flex-direction: column;
  }
  .question > div > img,
  .question > div > div {
    width: 95%;
    padding: 2.5%;
  }
  .question > div > img {
    width: 70%;
  }
  .languages > img {
    display: none;
  }
  .languages > h1 {
    width: 100%;
    text-align: center;
  }
  .info__section__cards {
    display: grid;
    grid-template-columns: repeat(1, 0fr);
  }
  .cards__heading {
    width: 100%;
    text-align: center;
  }
}
@media only screen and (max-width: 416px) {
  .left__main__home__div > h1 {
    font-size: 4rem;
  }
  .question > div > img {
    width: 90%;
  }
  #question__heading {
    font-size: 2rem;
  }
  #question__heading > span {
    font-size: 3rem;
  }
  #underline {
    width: 300px !important;
  }
  .left__nav__div > img {
    width: 80px;
  }
  .info__card {
    margin: 5px;
  }
  .cards__heading {
    font-size: 2rem !important;
    margin-bottom: 10px;
  }
}
