@import url("https://fonts.googleapis.com/css2?family=Titillium+Web:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=B612&display=swap");

.main__container {
  display: flex;
  width: 100vw;
  height: 100vh;
}
.left__container {
  width: 30%;
  height: 96%;
  background: rgb(35, 35, 35);
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1%;
  border-radius: 20px;
}
.left__container > h1 {
  font-size: 30px;
  padding: 20px;
}
.cards__container {
  width: 70%;
  height: 100%;
  display: flex;
  flex-direction: column;
}
.input__container {
  flex: 0.1;
  background: white;
  padding: 5px 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.input__container > input {
  padding: 10px;
  width: 79%;
  background: none;
  border: none;
  border-bottom: 3px solid grey;
  font-size: 20px;
  transition: all 0.3s ease;
}
.input__container > input:focus {
  border-bottom: 3px solid black;
  outline: none;
}
.cards {
  flex: 0.9;
}
.font__toggle__container {
  display: grid;
  grid-template-columns: repeat(2, 0fr);
  align-items: center;
  padding: 20px;
  gap: 30px;
  overflow-x: scroll;
}
.font__box {
  width: 140px;
  height: 80px;
  padding: 10px;
  border: 2px solid white;
  display: flex;
  font-size: 15px;
  align-items: center;
  justify-content: flex-start;
  cursor: pointer;
  transition: all 0.3s ease;
  overflow-y: scroll;
  border-radius: 10px;
}
.font__box:hover {
  background: white;
  color: rgb(35, 35, 35);
}
.cards {
  display: grid;
  grid-template-columns: repeat(3, 0fr);
  align-items: center;
  padding: 20px;
  gap: 30px;
  overflow-x: scroll;
  margin-bottom: 10px;
}

.text__cards {
  height: 330px;
  width: 280px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  font-size: 20px;
  padding: 10px;
  overflow: hidden;
  z-index: 1;
  position: relative;
  transition: all 0.3s ease;
}
.font__size {
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
}
.font__size > input {
  border-radius: 10px;
  padding: 10px;
  border: 2px solid black;
  margin: 5px;
  font-weight: bold;
}
.font__size > input:focus {
  outline: none;
}
.style__card {
  display: none;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  background: white;
  z-index: 4;
}
.text__cards:hover > .style__card {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  padding: 15px;
  background: rgba(255, 255, 255, 0.9);
}
.style__card > p > span {
  color: #2ec4b6;
  font-weight: bold;
}
.style__card > p {
  color: black;
  font-size: 18px;
  font-weight: bold;
}
