.footer__link {
  color: #000;
  text-decoration: none;
  padding: 5px;
  border-bottom: 2px solid white;
}
.footer__link:hover {
  border-bottom: 2px solid black;
  color: #ef476f;
}
.footer__left p {
  background: -webkit-linear-gradient(#06d6a0, rgb(35, 35, 35));
  font-size: 1rem;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: bold;
}
@media only screen and (max-width: 865px) {
  .footer {
    flex-direction: column;
    width: 90%;
  }
  .footer__left {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  .footer__left p {
    font-size: 0.7rem;
    text-align: center;
  }
  .footer__left > h3 {
    text-align: center;
  }
  .footer__links {
    display: none;
  }
}
