.footer__link {
  color: white;
  text-decoration: none;
  padding: 10px;
  border-bottom: 2px solid white;
}
.footer__link:hover {
  border-bottom: 2px solid black;
  color: #ef476f;
}
.footer__left p {
  background: -webkit-linear-gradient(#ef476f, #000);
  font-size: 1rem;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: bold;
}
