.cards__section {
  display: grid;
  grid-template-columns: repeat(3, 0fr);
  align-items: center;
  justify-content: center;
}
.account__nav {
  padding: 20px;
}
.saved__card {
  margin: 10px;
}
.saved__card__heading {
  padding: 2.5%;
}
@media only screen and (max-width: 865px) {
  .cards__section {
    grid-template-columns: repeat(2, 0fr);
  }
}
@media only screen and (max-width: 670px) {
  .cards__section {
    grid-template-columns: repeat(1, 0fr);
  }
}
